* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 150px;
  width: 100%;
  padding: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: darkslateblue;
  color: white;
}

form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
  margin-top: .5em;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 .5em;
}

button {
  width: 50%;
  height: 50%;
  padding: .1em;
  font-size: 48px;
  text-align: center;
  background-color: dimgray;
  color: lightskyblue;
  border: 3px outset gray;
}

button:active {
  /* background-color: darkgray; */
  /* color: lightblue; */
  border: 3px inset gray;
}

input {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  max-width: 150px;
  font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
  background-color: slateblue;
  color: lightskyblue;
  border: none;
}

#output {
  width: 40%;
  font-size: 1.5em;
  margin-top: 1em;
}

.output--prev {
  font-size: .75em;
  padding-left: .5em;
  color: slateblue
}

.output--recent {
  font-size: 1em;
  color: lightskyblue;
}